---
import Link from "@/components/inputs/Link.astro";
import SplitText from "@/components/inputs/SplitText.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Headshot from "@/images/headshot.jpg"
import Arrow from "@/images/icons/arrow.svg"
import Recurse from "@/images/icons/recurse.svg"
---

<BaseLayout>
	<section class="hero-section page-section">
		<div class="container">
			<Image src={Headshot} alt="headshot of briana" width={320} height={320} class="headshot" />
			<div class="text-block">
				<h1 class="h5"><SplitText text="Hi, I'm Bri!" /></h1>
				<p>I design and I code.</p>
				<p>I make digital spaces feel like lived experiences, whether that&apos;s a Shopify store built around a brand’s entire personality or a personal project I couldn&apos;t stop thinking about until I built it.</p>
				<p>My e-commerce work is rooted in exploration and grounded in craft. My personal projects usually start with a problem or an idea that pulls me down a rabbit hole into something pleasantly unexpected.</p>
				<p>If something here resonates, <Link href="mailto:work@brianagude.com">say hi</Link> (:</p>

				<!-- <p>I specialize in Shopify and DTC e-commerce, working with brands and agencies on everything from full Shopify builds and design systems to conversion-focused landing pages and growth-minded UX.</p>
				<p>Open to e-commerce work, creative projects, and anything in between. <Link href="mailto:work@brianagude.com">Feel free to reach out</Link> (:</p> -->
			</div>
		</div>
	</section>
	<section class="webring">
		<a 
			id="rc-ring-prev" 
			href="https://ring.recurse.com/prev?id=63" 
			target="_blank"
			rel="noopener noreferrer" 
			class="arrow arrow-left"
		>
			<Image src={Arrow} alt="Arrow Icon" width={24} height={24}  />
		</a>

		<a 
			href="https://www.recurse.com/scout/click?t=49255f4a45abaf728b468df6b7d6abf3" 
			target="_blank"
			rel="noopener noreferrer"
		>
			<Image src={Recurse} alt="Arrow Icon" width={32} height={40} />
		</a>
<!-- 
		<a id="rc-ring-rand" href="https://ring.recurse.com/rand" target="_blank"
rel="noopener noreferrer">
			<Image src={Recurse} alt="Arrow Icon" width={32} height={40} />
		</a> -->

		<a 
			id="rc-ring-next" 
			href="https://ring.recurse.com/next?id=63" 
			target="_blank"
			rel="noopener noreferrer" 
			class="arrow arrow-right"
		>
			<Image src={Arrow} alt="Arrow Icon" width={24} height={24}  />
		</a>
	</section>
</BaseLayout>

<style lang="scss">
  @use "@/styles/_components.scss" as *;
	@use "@/styles/_variables.scss" as *;

	.page-section {
		min-height: 60dvh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hero-section {
		height: 100%;
		flex-grow: 1;
		
		.container {
			padding-bottom: 80px;
			display: flex;
			flex-direction: column;
		}
	}

	.headshot {
		width: 120px;
		height: 120px;
		border-radius: 100%;
		border: 1px solid $black;
		margin: 0 auto;
	}

	.text-block {
		text-align: center;
		p { margin: 16px auto 0; }
	}
	.webring {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 16px;
		padding: 16px;
	}

	.arrow {
		@include pill-link;
		display: inline-block;
		padding: 4px 16px;
		transition: all ease 0.2s;
		&:hover {
			transform: translateY(-2px);
		}
	}

	.arrow-left {
		img {
			transform: rotate(-90deg)
		}
	}
	.arrow-right {
		img {
			transform: rotate(90deg)
		}
	}
</style>