---
import { getCollection } from "astro:content";

import Card from "@/components/inputs/Card.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const caseStudyPosts = await getCollection("caseStudies");
const workPosts = await getCollection("work");
const experimentPosts = await getCollection("experiments");

const sortedCaseStudies = caseStudyPosts.sort((a, b) => 
  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const sortedWork = workPosts.sort((a, b) => 
  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const allPosts = [...experimentPosts, ...sortedCaseStudies, ...sortedWork];
const pageTitle = "briana gude";

function getPostUrl(post: any) {
  if (post.data.skip_content) return post.data.url;
  const prefixes: Record<string, string> = {
    work: '/work',
    caseStudies: '/case-studies',
    experiments: '/experiments',
  };
  return `${prefixes[post.collection]}/${post.id}/`;
}
---

<BaseLayout title={pageTitle}>
  <section class="page-section text-section">
    <div class="container centered">
      <div>
        <h1 class="h6">Briana Gude</h1>
        <p>Creative Technologist</p>
      </div>
    </div>
  </section>
  <section class="page-section all-projects">
    <div class="container grid">
      {allPosts.map((post: any) => <Card url={getPostUrl(post)} title={post.data.title} image={post.data.image} video={post.data.mux_id} />)}
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @use "@/styles/_components.scss" as *;
	@use "@/styles/_variables.scss" as *;

  .text-section { padding-bottom: 0; }
</style>