---
import { getCollection } from "astro:content";

import Card from "@/components/inputs/Card.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import SplitText from "@/components/inputs/SplitText.astro";

const allPosts = await getCollection("experiments");
const sortedPosts = allPosts.sort((a, b) => 
  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const pageTitle = "briana's experiments";
---

<BaseLayout title={pageTitle}>
  <section class="page-section text-section">
    <div class="container centered">
      <div>
        <h1 class="h6"><SplitText text="Things I Made" /></h1>
        <p>for myself.</p>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="container grid">
      {sortedPosts.sort().map((post: any, i: number) => <Card url={post.data.skip_content ? post.data.url : `/experiments/${post.id}/`} title={post.data.title} image={post.data.image} video={post.data.mux_id} index={i} />)}
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @use "@/styles/_components.scss" as *;
  
  .text-section { padding-bottom: 0; }
</style>