---
import FormattedDate from "@/components/inputs/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import Link from "@/components/inputs/Link.astro";

const { frontmatter } = Astro.props;
const metaImage = frontmatter.mux_id
  ? `https://image.mux.com/${frontmatter.mux_id}/thumbnail.jpg`
  : frontmatter.image?.url;
const twitterImage = frontmatter.mux_id
  ? `https://image.mux.com/${frontmatter.mux_id}/animated.gif?width=600&start=0&end=4`
  : undefined;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description} image={metaImage} twitterImage={twitterImage}>
  <section class="project page-section">
    <div class="container">
      <h1 class="h1">{frontmatter.title}</h1>
      <div class="info">
        <div class="text-wrapper">
          <p class="body">{frontmatter.role}</p>
          <p class="body-sm">
            <FormattedDate date={frontmatter.pubDate} format="month-year" />
            {frontmatter.endDate && <> &mdash; <FormattedDate date={frontmatter.endDate} format="month-year" /></>}
          </p>
        </div>
        <Link href={frontmatter.url}>View Project</Link>
      </div>
    </div>
  </section>
  <section class="project page-section">
    <div class="container">
      <div class="prose">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @use "@/styles/_components.scss" as *;
  @use "@/styles/_variables.scss" as *;

  .container {
    max-width: $bp-xl !important;
    margin: 0 auto;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;

    a {
      @include pill-link;
    }
  }

  .prose {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 640px) {
      gap: 48px;
    }

    @media (min-width: 1280px) {
      gap: 64px;
    }
  }
</style>
