---
import FormattedDate from "@/components/inputs/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <section class="blog-post page-section">
    <div class="container">
      <div class="blog-header">
        <h1>{frontmatter.title}</h1>
        <p class="pub-date body-sm">{frontmatter.author} ~ <FormattedDate date={frontmatter.pubDate} /></p>

        <div class="tags">
          {frontmatter.tags.map((tag: string) => (
            <a href={`/tags/${tag}`} class="tag">{tag}</a>
          ))}
        </div>
      </div>
      <div class="prose">
        <slot />
      </div>
    </div>

  </section>
</BaseLayout>

<style lang="scss">
  @use "@/styles/_components.scss" as *;
  @use "@/styles/_variables.scss" as *;

  .container {
    max-width: $bp-sm !important;
    margin: 0 auto; 
  }

  .pub-date {
    // text-transform: uppercase;
    font-family: $font-mono;
    font-weight: 500;
    opacity: 50%;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 16px;
  }

  .tag {
		padding: 0 8px;
		border-radius: 32px;
		background: color-mix(in oklab, var(--color-black) 5%, transparent);
  	backdrop-filter: blur(4px);
    // font-family: $font-mono;

		&:hover {
			background-color: $primary-color;
		}
	}
</style>