---
import BaseLayout from "./BaseLayout.astro";
import Link from "@/components/inputs/Link.astro";
import FormattedDate from "@/components/inputs/FormattedDate.astro";
import { Image } from "astro:assets";
import Mux from "@/components/inputs/Mux.astro";

const { frontmatter } = Astro.props;
const metaImage = frontmatter.mux_id
  ? `https://image.mux.com/${frontmatter.mux_id}/thumbnail.jpg`
  : frontmatter.image?.url;
const twitterImage = frontmatter.mux_id
  ? `https://image.mux.com/${frontmatter.mux_id}/animated.gif?width=600&start=0&end=4`
  : undefined;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description} image={metaImage} twitterImage={twitterImage}>
  <section class="project page-section">
    <div class="container">
      <div class="header">
        <h1>{frontmatter.title}</h1>
        <div class="info">
          <p class="body-sm">
            <FormattedDate date={frontmatter.pubDate} format="month-year" />
            {frontmatter.endDate && <> &mdash; <FormattedDate date={frontmatter.endDate} format="month-year" /></>}
          </p>
          <Link href={frontmatter.url}>View Project</Link>
        </div>
      </div>
      <div class="media">
        {frontmatter.mux_id && <Mux playbackId={frontmatter.mux_id} title={frontmatter.title} class="main-video" />}
        {frontmatter.image && !frontmatter.mux_id && <Image src={frontmatter.image.url} alt={frontmatter.image.alt} class="main-img" />}
      </div>
      <div class="prose">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @use "@/styles/_components.scss" as *;
  @use "@/styles/_variables.scss" as *;

  .container {
    max-width: $bp-sm !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .media {
    aspect-ratio: 16/9;
    border-radius: 24px;
    border: 1px solid $black;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    // margin-top: 24px;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;

    a {
      @include pill-link;
    }
  }

  .prose {
    margin-top: 24px;
  }
</style>