---
import { getCollection } from "astro:content";

import Card from "@/components/inputs/Card.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const allPosts = await getCollection("caseStudies");
const sortedPosts = allPosts.sort((a, b) => 
  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const pageTitle = "Case Studies";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="page-section">
    <div class="container">
      {sortedPosts.sort().map((post: any) => <Card url={`/case-studies/${post.id}/`} title={post.data.title} image={post.data.image} video={post.data.mux_id} />)}
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @use "@/styles/_components.scss" as *;
	@use "@/styles/_variables.scss" as *;

  .container {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $bp-sm) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $bp-lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>